.mapboxgl-ctrl-scale + .mapboxgl-ctrl-scale {
  margin-top: 0 !important;
}

.map{
  height: 96vh;
}
.card-header {
  padding: 0px;
  background-color: transparent;
  border-bottom: transparent;
}
.card {
  background-color: #fff0;
  border: 1px solid rgb(0 0 0 / 0%);
}
.card-body {
  padding: 0px;
}
.active, .collapsible:hover {
  border: transparent;
}
button:focus {
  outline: none;
}

h5 {
  margin: 0px;
}
.mapboxgl-ctrl-legend {
  pointer-events: none;
}

.baytrail-legend {
  padding: 10px;
  background-color: #fff8e8;
  border-radius: 4px;
  display: none;
}

.baytrail-legend h3 {
  margin: 0;
}

.baytrail-legend dl {
  margin: 0;
}

.baytrail-legend dt {
  display: inline-block;
}

.baytrail-legend dd {
  display: inline;
  margin: 0;
}

.baytrail-legend dd:after {
  content: '';
  display: block;
}

.baytrail-legendLine {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.mapboxgl-ctrl-measure.active {
  background-color: #3388ff;
}



/* New Style */

.baytrail-legend-body {
  padding: 10px;
  background-color: #fff8e8;
  border-radius: 4px;
  z-index: 10;
  position: absolute;
  width: 140px !important;
  left: 26px;
  bottom: 21px;
  padding-bottom: 0px;
  border: 1px solid #B7C1CD;
}

.baytrail-legend-body h1 {
  margin: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #00303F;
}

.baytrail-legend-body h3 {
  margin: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.other-title{
  margin-top: 10px !important;
}

.baytrail-legend-body dl {
  margin: 0;
}

.baytrail-legend-body dt {
  display: inline-block;
}

.baytrail-legend-body dd {
  display: inline;
  margin: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.baytrail-legend-body dd:after {
  content: '';
  display: block;
}

.baytrail-legendLine {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.collapsible {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #00303F;
  padding: 0px;
  padding-bottom: 10px;
  font-family: 'Nunito Sans';
}

/* .active, .collapsible:hover {
  border-bottom: 1px solid #B7C1CD;
} */

.collapsible:after {
  content: '\02C5';
  content: url("../public/icons/ic-dropdown-up.svg");
  color: #00303F;
  font-weight: bold;
  float: right;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.active:after {
  content: "\02C4";
  content: url("../public/icons/ic-dropdown-up.svg");
  width: 18px;
  height: 18px;
}

.collapsible-trails {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #00303F;
  padding: 0px;
  padding: 10px 0px;
  border-top: 1px solid #B7C1CD;
}
.collapsible-trails:after {
  content: '\02C5';
  content: url("../public/icons/ic-dropdown-up.svg");
  color: #00303F;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  width: 18px;
  height: 18px;
}
.collapsible-icons {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #00303F;
  padding: 0px;
  padding: 10px 0px;
}

.collapsible-icons:after {
  content: '\02C5';
  content: url("../public/icons/ic-dropdown-down.svg");
  color: #00303F;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  width: 18px;
  height: 18px;
}
.collapsed:after {
  content: "\02C4";
  content: url("../public/icons/ic-dropdown-down.svg");
  width: 18px;
  height: 18px;
}

.content {
  padding: 0px 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content-trails {
  padding: 0px 0px;
  /* max-height: 211px; */
  overflow: hidden;
  /* transition: max-height 0.2s ease-out; */
  padding-bottom: 10px;
}

/* Pop - up 1*/

.popup-one{
  background-color: transparent;
}
.popup-one h1{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #00303F;
  margin: 0px;
  margin-bottom: 4px;
}
.popup-one h2{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #00303F;
  margin: 0px;
  margin-bottom: 11px;
}
.green-line{
  border: none;
  width: 60px;
  border: 2.5px solid #34593E;
  color: #34593E;
  background-color: #34593E;
  height: 0px;
  margin: 0px;
  margin-bottom: 8px;
}
.popup-one p{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #00303F;
  margin: 0px;
  margin-bottom: 8px;
}
.opacity-text{
  font-weight: 300 !important;
  margin-bottom: 2px !important;
}
.more-text{
  color: #007CAD !important;
  margin-bottom: 0px !important;
}

/* Welcome Modal */

.welcome-modal{
  box-sizing: border-box;
  position: absolute;
  width: 220px;
  left: calc(50% - 110px);
  top: calc(50% - 84px);
  background: #FFFFFF;
  border: 1px solid #E5EAEC;
  box-shadow: 2px 3px 0px rgb(0 0 0 / 31%);
  z-index: 22;
  padding: 30px 24px;
}

.welcome-modal-header{
  position: absolute;
  top: 10px;
  right: 10px;
}

.welcome-modal button{
  color: #597882;
  background: transparent;
  border: transparent;
  font-size: 14px;
  cursor:pointer;
  cursor: hand;
  font-family: auto;
}

.welcome-modal p{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #00303F;
  margin: 0px;
  margin-bottom: 10px;
}
/* ICONS */
.icon {
  margin-right: 7px;
  font-size: 13px !important;
}

.boat {
  content: url("../public/icons/ic-boat.svg");
  height: 10px;
  width: 10px;
}
.fishing {
  content: url("../public/icons/ic-fish.svg");
  height: 10px;
  width: 10px;
}
.train {
  content: url("../public/icons/ic-train.svg");
  height: 10px;
  width: 10px;
}
.note{
  font-size: 11px;
  margin-top: 8px;
  margin-bottom: 0px;
}
/* POPUP */
.mapboxgl-popup-content {
  background: #FFFFFF;
    border: 1px solid #E5EAEC;
  box-shadow: 2px 3px 0px rgb(0 0 0 / 31%);
  z-index: 10;
  padding: 20px 15px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  z-index: 11;
}

@media (min-width: 1900px) and (max-width: 2549px){
  .map{
    height: 97vh;
  }
  .baytrail-legend-body {
    padding: 13px;
    background-color: #fff8e8;
    width: 187px !important;
    padding-bottom: 0px;
    bottom: 29px;
  }
  
  .baytrail-legend-body h1 {
    font-size: 14px;
  }
  
  .baytrail-legend-body h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .other-title{
    margin-top: 13px  !important;
  }
  
  .baytrail-legend-body dt {
    margin-bottom: 8px;
  }
  
  .baytrail-legend-body dd {
    font-size: 16px;
  }
  
  .collapsible {
    font-size: 18px;
    padding-bottom: 13px;
  }
  
  .collapsible-trails {
    font-size: 16px;
    padding: 13px 0px;
  }
  /* .content-trails {
    max-height: 212px;
  } */
  /* Welcome Modal */

  .welcome-modal{
    width: 293px;
    padding: 40px 32px;
    left: calc(50% - 146.5px );
    top:calc(50% - 111px);

  }

  .welcome-modal-header{
    top: 13px;
    right: 13px;
  }

  .welcome-modal button{
    font-size: 19px;
  }

  .welcome-modal p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0px;
    margin-bottom: 14px;
  }
  .note {
    font-size: 15px;
  }
  .icon {
    margin-right: 8px;
    font-size: 20px !important;
  }
  .train {
    height: 16px;
    width: 17px;
  }
  .icon-p{
    margin-right: 13px !important;
  }
  .boat {
    height: 16px;
    width: 17px;
  }
  .fishing {
    height: 16px;
    width: 17px;
  }
  /* Pop - up 1*/
  .mapboxgl-popup-content {
    padding: 26px 20px;
    width: 293px;
  }
  .popup-one{
    background-color: transparent;
  }
  .popup-one h1{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .popup-one h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .green-line{
    width: 80px;
    border: 3px solid #34593E;
    margin-bottom: 13px;
  }
  .popup-one p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
}
@media (min-width: 2555px) and (max-width: 5799px){
  .map{
    height: 97.5vh;
  }
  .baytrail-legend-body {
    padding: 17px;
    background-color: #fff8e8;
    width: 248.89px !important;
    padding-bottom: 0px;
    bottom: 32px;
  }
  
  .baytrail-legend-body h1 {
    font-size: 14px;
  }
  
  .baytrail-legend-body h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .other-title{
    margin-top: 17px !important;
  }
  
  .baytrail-legend-body dt {
    margin-bottom: 16px;
  }
  
  .baytrail-legend-body dd {
    font-size: 21px;
  }
  
  .collapsible {
    font-size: 24px;
    padding-bottom: 17px;
  }
  
  .collapsible-trails {
    font-size: 21px;
    padding: 17px 0px;
  }

  .content-trails {
    padding: 0px 0px;
    /* max-height: 320px; */
  }

  .baytrail-legendLine {
    margin-right: 11px;
  }
   /* Welcome Modal */

   .welcome-modal{
    width: 391px;
    padding: 53px 43px;
    left: calc(50% - 195.5px);
    top: calc(50% - 148px);
  }

  .welcome-modal-header{
    top: 18px;
    right: 18px;
  }

  .welcome-modal button{
    font-size: 25px;
  }

  .welcome-modal p{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .note {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .icon {
    margin-right: 12px;
    font-size: 27px !important;
  }
  .train {
    height: 20px;
    width: 24px;
  }
  .icon-p{
    margin-right: 20px !important;
  }
  .boat {
    height: 20px;
    width: 24px;
  }
  .fishing {
    height: 20px;
    width: 24px;
  }
  /* Pop - up 1*/
  .mapboxgl-popup-content {
    padding: 36px 27px;
    width: 391px;
  }
  .popup-one{
    background-color: transparent;
  }
  .popup-one h1{
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 8px;
  }
  .popup-one h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
  }
  .green-line{
    width: 107px;
    border: 3.5px solid #34593E;
    margin-bottom: 13px;
  }
  .popup-one p{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 13px;
  }
}

@media (min-width: 0px) and (max-width: 900px){
  .welcome-modal{
    /* top: 66px; */
  }
}
@media (min-width: 901px) and (max-width: 1200px){
  .welcome-modal{
    /* top: 153px; */
  }
}