.mapboxgl-ctrl-scale + .mapboxgl-ctrl-scale {
  margin-top: 0 !important;
}

.map{
  height: 100%;
}
.mapboxgl-popup-close-button {
  font-size: 23px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  color: #597882;
  top: 4px;
  right: 1px;
}
.card-header {
  padding: 0px;
  background-color: transparent;
  border-bottom: transparent;
}
.card {
  background-color: #fff0;
  border: 1px solid rgb(0 0 0 / 0%);
}
.card-body {
  padding: 0px;
}
.active, .collapsible:hover {
  border: transparent;
}
button:focus {
  outline: none;
}

h5 {
  margin: 0px;
}
.mapboxgl-ctrl-legend {
  pointer-events: none;
}

.baytrail-legend {
  padding: 10px;
  background-color: #fff8e8;
  border-radius: 4px;
  display: none;
}

.baytrail-legend h3 {
  margin: 0;
}

.baytrail-legend dl {
  margin: 0;
}

.baytrail-legend dt {
  display: inline-block;
}

.baytrail-legend dd {
  display: inline;
  margin: 0;
}

.baytrail-legend dd:after {
  content: '';
  display: block;
}

.baytrail-legendLine {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.mapboxgl-ctrl-measure.active {
  background-color: #3388ff;
}



/* New Style */

.baytrail-legend-body {
  padding: 10px;
  background-color: #fff8e8;
  border-radius: 4px 4px 0px 0px;
  z-index: 10;
  position: absolute;
  width: 140px !important;
  left: 26px;
  bottom: 15px;
  padding-bottom: 0px;
  border: 1px solid #B7C1CD;
  border-bottom: none;
}

.baytrail-legend-body h1 {
  margin: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #00303F;
}

.baytrail-legend-body h3 {
  margin: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.other-title{
  margin-top: 10px !important;
}

.baytrail-legend-body dl {
  margin: 0;
}

.baytrail-legend-body dt {
  display: inline-block;
}

.baytrail-legend-body dd {
  display: inline;
  margin: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.baytrail-legend-body dd:after {
  content: '';
  display: block;
}

.baytrail-legendLine {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.collapsible {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #00303F;
  padding: 0px;
  padding-bottom: 10px;
  font-family: 'Nunito Sans';
}

/* .active, .collapsible:hover {
  border-bottom: 1px solid #B7C1CD;
} */

.collapsible:after {
  content: '\02C5';
  content: url("data:image/svg+xml; utf8, %3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6L9 13L3 6' stroke='%2300303F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  color: #00303F;
  font-weight: bold;
  float: right;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.active:after {
  /* content: "\02C4";
  content: url("../public/icons/ic-dropdown-up.svg");
  width: 18px;
  height: 18px; */
}

.collapsible-trails {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #00303F;
  padding: 0px;
  padding: 10px 0px;
  border-top: 1px solid #B7C1CD;
}
.collapsible-trails:after {
  content: '\02C5';
  content: url("data:image/svg+xml; utf8, %3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6L9 13L3 6' stroke='%2300303F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  color: #00303F;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  width: 18px;
  height: 18px;
}
.collapsible-icons {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin: 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #00303F;
  padding: 0px;
  padding: 10px 0px;
}

.collapsible-icons:after {
  content: '\02C5';
  content: url("data:image/svg+xml; utf8, %3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6L9 13L3 6' stroke='%2300303F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  color: #00303F;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  width: 18px;
  height: 18px;
}
.collapsed:after {
  content: "\02C4";
  content: url("data:image/svg+xml; utf8, %3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 12L9 5L15 12' stroke='%2300303F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 18px;
  height: 18px;
}

.content {
  padding: 0px 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content-trails {
  padding: 0px 0px;
  /* max-height: 211px; */
  overflow: hidden;
  /* transition: max-height 0.2s ease-out; */
  padding-bottom: 10px;
}

/* Pop - up 1*/

.popup-one{
  background-color: transparent;
}
.popup-one h1{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #00303F;
  margin: 0px;
  margin-bottom: 4px;
}
.popup-one h2{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #00303F;
  margin: 0px;
  margin-bottom: 11px;
}
.green-line{
  border: none;
  width: 60px;
  border: 2.5px solid #34593E;
  color: #34593E;
  background-color: #34593E;
  height: 0px;
  margin: 0px;
  margin-bottom: 3px;
}
.light-green-line{
  border: 2.5px solid #83BE6A !important;
  background: #83be6a !important;
}
.green-green-line{
  border: none;
  background-color: #83BE6A !important;
  height: 2.5px;
  border-top: 1.5px solid #34593E !important;
  border-bottom: 1.5px solid #34593E !important;
  width: 66px;
}
.pruple-line{
  border: 2.5px solid #9572D4 !important;
  color: #9572D4 !important;
  background-color: #9572D4 !important;
}
.purple-dots{
  border: none;
  border: 3px dashed #9572D4 !important;
  color: transparent;
  background-color: transparent;
  border-style: dashed;
  height: 0px;
}
.green-dots{
  border: none;
  border: 3px dashed #83BE6A!important;
  color: transparent;
  background-color: transparent;
  border-style: dashed;
  height: 0px;
}
.popup-one p{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #00303F;
  margin: 0px;
  margin-bottom: 8px;
}
.opacity-text{
  font-weight: 300 !important;
  margin-bottom: 2px !important;
}
.more-text{
  color: #007CAD !important;
  margin-bottom: 0px !important;
}
a{
  color: #007CAD !important;
  text-decoration: none;
  font-weight: 600;
}
a:hover{
  color: #007CAD !important;
  text-decoration: underline;
  font-weight: 600;
}

/* Welcome Modal */

.welcome-modal{
  box-sizing: border-box;
  position: absolute;
  width: 220px;
  left: calc(50% - 110px);
  top: calc(50% - 84px);
  background: #FFFFFF;
  border: 1px solid #E5EAEC;
  box-shadow: 2px 3px 0px rgb(0 0 0 / 31%);
  z-index: 22;
  padding: 30px 24px;
}

.welcome-modal-header{
  position: absolute;
  top: -3px;
  right: 0px;
}

.welcome-modal button{
  color: #597882;
  background: transparent;
  border: transparent;
  font-size: 23px;
  font-weight: 600;
  cursor:pointer;
  cursor: hand;
  font-family: 'Nunito Sans';
  font-style: normal;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.welcome-modal p{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #00303F;
  margin: 0px;
  margin-bottom: 10px;
}
/* ICONS */
.icon {
  margin-right: 7px;
  font-size: 13px !important;
}

.boat {
  content: url(
    "data:image/svg+xml; utf8,  %3Csvg fill='%23000000' height='10px' width='10px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 297 297' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M295.431,225.622c-1.837-2.879-5.016-4.621-8.431-4.621H10c-3.415,0-6.594,1.742-8.431,4.621 c-1.836,2.879-2.077,6.496-0.638,9.593l13,27.979c7.707,16.589,24.507,27.308,42.799,27.308h183.539 c18.292,0,35.092-10.719,42.798-27.307l13.001-27.979C297.508,232.118,297.266,228.501,295.431,225.622z'%3E%3C/path%3E%3Cpath d='M16.5,208.001H165c5.522,0,10-4.478,10-10v-181.5c0-4.227-2.657-7.997-6.638-9.418c-3.981-1.42-8.425-0.186-11.102,3.086 l-148.5,181.5c-2.447,2.99-2.952,7.123-1.298,10.614C9.118,205.775,12.636,208.001,16.5,208.001z'%3E%3C/path%3E%3Cpath d='M198,208.001h82.5c3.4,0,6.567-1.728,8.408-4.586c1.84-2.858,2.103-6.457,0.695-9.552l-82.5-181.5 c-1.947-4.287-6.62-6.633-11.221-5.636S188,11.794,188,16.501v181.5C188,203.523,192.477,208.001,198,208.001z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"
  );
  height: 10px;
  width: 10px;
}
.fishing {
  content: url("data:image/svg+xml; utf8, %3Csvg fill='%23000000' viewBox='0 -32 576 576' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M327.1 96c-89.97 0-168.54 54.77-212.27 101.63L27.5 131.58c-12.13-9.18-30.24.6-27.14 14.66L24.54 256 .35 365.77c-3.1 14.06 15.01 23.83 27.14 14.66l87.33-66.05C158.55 361.23 237.13 416 327.1 416 464.56 416 576 288 576 256S464.56 96 327.1 96zm87.43 184c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24 13.26 0 24 10.74 24 24 0 13.25-10.75 24-24 24z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  height: 10px;
  width: 10px;
}
.train {
  content: url("data:image/svg+xml; utf8,  <svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='currentColor' class='bi bi-train-freight-front-fill' viewBox='0 0 16 16'><path d='M5.736 0a1.5 1.5 0 0 0-.67.158L1.828 1.776A1.5 1.5 0 0 0 1 3.118v5.51l2-.6V5a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3.028l2 .6v-5.51a1.5 1.5 0 0 0-.83-1.342L10.936.158A1.5 1.5 0 0 0 10.264 0H5.736ZM15 9.672l-5.503-1.65A.5.5 0 0 0 9.353 8H8.5v8h4a2.5 2.5 0 0 0 2.5-2.5V9.672ZM7.5 16V8h-.853a.5.5 0 0 0-.144.021L1 9.672V13.5A2.5 2.5 0 0 0 3.5 16h4Zm-1-14h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1ZM12 5v2.728l-2.216-.665A1.5 1.5 0 0 0 9.354 7H8.5V5H12ZM7.5 5v2h-.853a1.5 1.5 0 0 0-.431.063L4 7.728V5h3.5Zm-4 5a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1Zm9 0a.5.5 0 1 1 0 1 .5.5 0 0 1 0-1ZM5 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm7 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'/></svg>");
  height: 10px;
  width: 10px;
}
.trash{
  content: url("data:image/svg+xml; utf8,  %3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0321 0.866667C8.52589 0.866667 8.06014 1.271 8.06014 1.80945V2.48557H4.62906C4.21504 2.48557 3.86667 2.81515 3.86667 3.22609V5.2499C3.86667 5.66082 4.21502 5.99041 4.62906 5.99041H5.12478V17.3928C5.12478 17.8037 5.47314 18.1333 5.88718 18.1333H15.1128C15.5268 18.1333 15.8752 17.8038 15.8752 17.3928V5.99041H16.3709C16.785 5.99041 17.1333 5.66084 17.1333 5.2499V3.22609C17.1333 2.81516 16.785 2.48557 16.3709 2.48557H12.9399V1.80945C12.9399 1.27084 12.4741 0.866667 11.9679 0.866667H9.0321ZM9.0321 1.53806H11.9675C12.0233 1.53806 12.0973 1.56742 12.1592 1.62442C12.2206 1.68091 12.2534 1.7488 12.2534 1.80945V2.48557H8.74597V1.80945C8.74597 1.7488 8.7788 1.68091 8.84018 1.62442C8.90212 1.56742 8.97606 1.53806 9.03195 1.53806H9.0321ZM4.62895 3.15715H16.3707C16.4213 3.15715 16.4471 3.18868 16.4471 3.22625V5.25007C16.4471 5.28764 16.4213 5.31917 16.3707 5.31917H4.62895C4.57831 5.31917 4.55255 5.28764 4.55255 5.25007V3.22625C4.55255 3.18868 4.57831 3.15715 4.62895 3.15715ZM5.81065 5.99041H15.189V17.3928C15.189 17.4304 15.1632 17.4619 15.1126 17.4619H5.88693C5.83629 17.4619 5.81053 17.4304 5.81053 17.3928L5.81065 5.99041ZM7.9838 7.74756C7.79882 7.74756 7.64074 7.89348 7.64074 8.08333V15.3691C7.64074 15.5589 7.79882 15.7048 7.9838 15.7048C8.16879 15.7048 8.32687 15.5589 8.32687 15.3691V8.08333C8.32687 7.89348 8.16879 7.74756 7.9838 7.74756ZM10.4999 7.74756C10.3149 7.74756 10.1568 7.89348 10.1568 8.08333V15.3691C10.1568 15.5589 10.3149 15.7048 10.4999 15.7048C10.6848 15.7048 10.8429 15.5589 10.8429 15.3691V8.08333C10.8429 7.89348 10.6848 7.74756 10.4999 7.74756ZM13.0159 7.74756C12.8309 7.74756 12.6728 7.89348 12.6728 8.08333V15.3691C12.6728 15.5589 12.8309 15.7048 13.0159 15.7048C13.2009 15.7048 13.359 15.5589 13.359 15.3691V8.08333C13.359 7.89348 13.2009 7.74756 13.0159 7.74756Z' fill='%23007CAD' stroke='%23007CAD' stroke-width='0.266667'/%3E%3C/svg%3E");
  height: 16px;
  width: 16px;
  margin-right: 4px;
}
.note{
  font-size: 11px;
  margin-top: 8px;
  margin-bottom: 0px;
}
/* POPUP */
.mapboxgl-popup-content {
  background: #FFFFFF;
    border: 1px solid #E5EAEC;
  box-shadow: 2px 3px 0px rgb(0 0 0 / 31%);
  z-index: 10;
  padding: 20px 15px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  z-index: 11;
}
.btn-trash{
  background-color: transparent;
  border: transparent;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #007CAD;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 0px;
}
.label-name{
  margin-bottom: 1px !important;
  margin-top: 6px !important;
}

@media (min-width: 1900px) and (max-width: 2549px){
  .mapboxgl-popup-close-button {
    font-size: 30px;
    margin-top: 10px;
    margin-right: 3px;
  }
  .baytrail-legend-body {
    padding: 13px;
    background-color: #fff8e8;
    width: 187px !important;
    padding-bottom: 0px;
  }
  
  .baytrail-legend-body h1 {
    font-size: 14px;
  }
  
  .baytrail-legend-body h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .other-title{
    margin-top: 13px  !important;
  }
  
  .baytrail-legend-body dt {
    margin-bottom: 8px;
  }
  
  .baytrail-legend-body dd {
    font-size: 16px;
  }
  
  .collapsible {
    font-size: 18px;
    padding-bottom: 13px;
  }
  
  .collapsible-trails {
    font-size: 16px;
    padding: 13px 0px;
  }
  /* .content-trails {
    max-height: 212px;
  } */
  /* Welcome Modal */

  .welcome-modal{
    width: 293px;
    padding: 40px 32px;
    left: calc(50% - 146.5px );
    top:calc(50% - 111px);

  }

  .welcome-modal-header{
    top: 13px;
    right: 13px;
  }

  .welcome-modal button{
    font-size: 19px;
  }

  .welcome-modal p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0px;
    margin-bottom: 14px;
  }
  .note {
    font-size: 15px;
  }
  .icon {
    margin-right: 8px;
    font-size: 20px !important;
  }
  .train {
    height: 16px;
    width: 17px;
  }
  .icon-p{
    margin-right: 13px !important;
  }
  .boat {
    height: 16px;
    width: 17px;
  }
  .fishing {
    height: 16px;
    width: 17px;
  }
  /* Pop - up 1*/
  .mapboxgl-popup-content {
    padding: 26px 20px;
    width: 293px;
  }
  .popup-one{
    background-color: transparent;
  }
  .popup-one h1{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .popup-one h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .green-line{
    width: 80px;
    border: 3px solid #34593E;
    margin-bottom: 4px;
  }
  .pruple-line {
    border: 3px solid #9572D4 !important;
  }
  .green-green-line {
    background-color: #83BE6A !important;
    height: 3px;
    border: none;
    border-top: 2px solid #34593E !important;
    border-bottom: 2px solid #34593E !important;
  }
  .light-green-line {
    border: 3px solid #83BE6A !important;
    background: #83be6a;
  }
  .purple-dots {
    border: none;
    border: 4px dashed #9572D4 !important;
  }
  .green-dots {
    border: none;
    border: 4px dashed #83BE6A !important;
  }
  .pruple-line {
    border: 3px solid #9572D4 !important;
  }
  .green-green-line {
    background-color: #83BE6A !important;
    height: 3px;
    border: none;
    border-top: 2px solid #34593E !important;
    border-bottom: 2px solid #34593E !important;
  }
  .light-green-line {
    border: 3px solid #83BE6A !important;
    background: #83be6a;
  }
  .purple-dots {
    border: none;
    border: 4px dashed #9572D4 !important;
  }
  .green-dots {
    border: none;
    border: 4px dashed #83BE6A !important;
  }
  .popup-one p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  .trash{
    height: 21px;
    width: 21px;
    margin-right: 6px;
  }
  .btn-trash{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }
  .label-name{
    margin-bottom: 2px !important;
    margin-top: 9px !important;
  }
}
@media (min-width: 2555px) and (max-width: 5799px){
  .mapboxgl-popup-close-button {
    font-size: 35px;
    margin-top: 10px;
    margin-right: 3px;
  }
  .baytrail-legend-body {
    padding: 17px;
    background-color: #fff8e8;
    width: 248.89px !important;
    padding-bottom: 0px;
  }
  
  .baytrail-legend-body h1 {
    font-size: 14px;
  }
  
  .baytrail-legend-body h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .other-title{
    margin-top: 17px !important;
  }
  
  .baytrail-legend-body dt {
    margin-bottom: 16px;
  }
  
  .baytrail-legend-body dd {
    font-size: 21px;
  }
  
  .collapsible {
    font-size: 24px;
    padding-bottom: 17px;
  }
  
  .collapsible-trails {
    font-size: 21px;
    padding: 17px 0px;
  }

  .content-trails {
    padding: 0px 0px;
    /* max-height: 320px; */
  }

  .baytrail-legendLine {
    margin-right: 11px;
  }
   /* Welcome Modal */

   .welcome-modal{
    width: 391px;
    padding: 53px 43px;
    left: calc(50% - 195.5px);
    top: calc(50% - 148px);
  }

  .welcome-modal-header{
    top: 18px;
    right: 18px;
  }

  .welcome-modal button{
    font-size: 25px;
  }

  .welcome-modal p{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .note {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .icon {
    margin-right: 12px;
    font-size: 27px !important;
  }
  .train {
    height: 20px;
    width: 24px;
  }
  .icon-p{
    margin-right: 20px !important;
  }
  .boat {
    height: 20px;
    width: 24px;
  }
  .fishing {
    height: 20px;
    width: 24px;
  }
  /* Pop - up 1*/
  .mapboxgl-popup-content {
    padding: 36px 27px;
    width: 391px;
  }
  .popup-one{
    background-color: transparent;
  }
  .popup-one h1{
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 8px;
  }
  .popup-one h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
  }
  .green-line{
    width: 107px;
    border: 3.5px solid #34593E;
    margin-bottom: 4px;
  }
  .pruple-line {
    border: 3.5px solid #9572D4 !important;
  }
  .green-green-line {
    background-color: #83BE6A !important;
    height: 3px;
    border: none;
    border-top: 2.5px solid #34593E !important;
    border-bottom: 2.5px solid #34593E !important;
  }
  .light-green-line {
    border: 3.5px solid #83BE6A !important;
    background: #83be6a;
  }
  .purple-dots {
    border: none;
    border: 5px dashed #9572D4 !important;
  }
  .green-dots {
    border: none;
    border: 5px dashed #83BE6A !important;
  }
  .pruple-line {
    border: 3.5px solid #9572D4 !important;
  }
  .green-green-line {
    background-color: #83BE6A !important;
    height: 3px;
    border: none;
    border-top: 2.5px solid #34593E !important;
    border-bottom: 2.5px solid #34593E !important;
  }
  .light-green-line {
    border: 3.5px solid #83BE6A !important;
    background: #83be6a;
  }
  .purple-dots {
    border: none;
    border: 5px dashed #9572D4 !important;
  }
  .green-dots {
    border: none;
    border: 5px dashed #83BE6A !important;
  }
  .popup-one p{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 13px;
  }
  .trash{
    height: 29px;
    width: 29px;
    margin-right: 7px;
  }
  .btn-trash{
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
  }
  .label-name{
    margin-bottom: 3px !important;
    margin-top: 13px !important;
  }
}

@media (min-width: 0px) and (max-width: 900px){
  .welcome-modal{
    /* top: 66px; */
  }
}
@media (min-width: 901px) and (max-width: 1200px){
  .welcome-modal{
    /* top: 153px; */
  }
}